.Todo-list-container{
  margin: 1rem;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  width:78rem;
  border: 1px solid black;
  min-height: 35rem;
  background-color:skyblue;
  border-radius: 1rem;
}
.todo-form{
  display: flex;
  width:100%;
  height: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  margin:0.5rem;
  gap:0.5rem;
}
.todo-input{
  border:1px solid black;
  font-size: 3.5rem;
  border-radius: 1rem;
}
.todo-form input{
  border:1px solid black;
  font-size: 3.5rem;
  border-radius: 1rem;
}
.todo-button{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
}
.todo-form button{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  cursor:pointer;
  font-weight: 600;
  font-size: 2.5rem;
}
.todo-form button:hover{
  background-color: black;
  color: white;
  font-weight: 600;
}
.tick:hover{
  background-color: green;
  color: white;
  font-weight: 600;
}
.cross:hover{
  background-color: red;
  color: white;
  font-weight: 600;
}
.task-div{
  background-color: aliceblue;
  padding:2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem lightgrey;
}
.todo-text{
  font-size: 2.5rem;
}
.icons{
  display: flex;
  gap: 3rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.complete{
  text-decoration: line-through;
  opacity:0.5;
  background-color:greenyellow
}
.hide{
  display: none;
}
.para{
  font-size: 3rem;
  font-weight: 3000;
  text-align: center;
}